#header h1 {
    height: 40px;
    line-height: 40px;
    vertical-align: top;
    text-align: center;
    font-size: 0;
    background: #f9f9f9;
}

#header .inner {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

#header .inner .left {
    display: flex;
    gap: 60px;
    font-weight: 400;
    letter-spacing: 0.08rem;
}

#header .inner .left li a {
    position: relative;
    display: block;
}

#header .inner .left li:hover a::after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1253fa;
}

#header .inner .left li.on a::after {
    content: "";
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1253fa;
}


#header .inner .right {
    display: flex;
    gap: 30px;
    font-size: 13px;
    color: #999;
}


#header .inner .right li a {
    position: relative;
}

#header .inner .right li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}

#header .inner .right .blue a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #1253fa;
}



.mainVisual {
    position: relative;
}

.mainVisual .main_slide .itm img {
    height: 600px;
    object-fit: cover;
}

.mainVisual .main_slide_arrows button {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 24px;
    border-radius: 50%;
}

.mainVisual .main_slide_arrows button:first-child {
    margin: 0 0 0 -700px;
}

.mainVisual .main_slide_arrows button:last-child {
    margin: 0 0 0 700px;
}



.mainContent .inner h2 {
    font-size: 26px;
    font-weight: 400;
    color: #111;
    margin: 0 0 50px 0;
}

.mainContent .inner ul {
    position: relative;
    height: 900px;
    text-align: center;
}

.mainContent .inner ul::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 120px;
    height: 800px;
    background: url(../img/peu.jpg) no-repeat center center;
    filter: grayscale(80%)
}

.mainContent .inner ul li {
    position: absolute;
}

.mainContent .inner ul .box01 {
    top: 0;
    left: 0;
}

.mainContent .inner ul .box02 {
    top: 0;
    left: 270px;
}

.mainContent .inner ul .box03 {
    top: 0;
    left: 540px;
}

.mainContent .inner ul .box04 {
    top: 0;
    left: 810px;
}

.mainContent .inner ul .box05 {
    top: 270px;
    left: 0;
}

.mainContent .inner ul .box06 {
    top: 270px;
    left: 540px;
}

.mainContent .inner ul .box07 {
    top: 540px;
    left: 0;
}

.mainContent .inner ul .box08 {
    top: 540px;
    left: 270px;
}

.mainContent .inner ul .box09 {
    top: 540px;
    left: 810px;
}

.mainContent .inner ul li .over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #fff;

    width: 100%;
    transition: opacity .3s ease;
}

.mainContent .inner ul li .over h3 {
    margin: 0 0 30px 0;
}

.mainContent .inner ul li .over span {
    padding: 10px 15px;
    border: 1px solid #fff;
}

.mainContent .inner ul li a::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(4, 69, 244, .85);
    opacity: 0;
    transition: all .2s ease;
}

.mainContent .inner ul li:hover .over {
    opacity: 1;
}

.mainContent .inner ul li:hover a::before {
    opacity: 1;
}

.mainSns {
    padding: 0 0 150px 0;
}

.mainSns .inner h2 {
    font-size: 26px;
    font-weight: 400;
    color: #111;
    margin: 0 0 50px 0;
}

.mainSns .inner .sns {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.mainSns .inner .sns li {
    position: relative;
}

.mainSns .inner .sns figure {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    line-height: 100px;
    text-align: center;
}

.mainSns .inner .sns .txt {
    margin: 10px 0 0 120px;
}

.mainSns .inner .sns .txt strong {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin: 0 0 8px 0;
}

.mainSns .inner .sns .txt p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

#footer {
    padding: 50px 0;
    background: #292929;
    color: #7b7b7b;
}

#footer .inner .sitemap {
    padding: 0 0 50px 0;
}

#footer .inner .sitemap>ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#footer .inner .sitemap>ul>li>a {
    display: block;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 300;

    margin: 0 0 30px 0;
}


#footer .inner .sitemap>ul>li>ul>li {
    color: #7b7b7b;
    font-size: 14px;
    margin: 0 0 20px 0;
}

#footer .inner .sitemap>ul .comp .twomenu {
    display: flex;
    gap: 50px;
    color: #7b7b7b;
    font-size: 14px;
}

#footer .inner .sitemap>ul .comp .twomenu ul li {
    margin: 0 0 20px 0;
}

#footer .info {
    border: 1px solid #343434;
}

#footer .info .inner {
    display: flex;
    font-size: 13px;
    line-height: 40px;
}

#footer .info .inner ul {
    display: flex;
    gap: 30px;
}

#footer .info .inner ul>li {
    position: relative;
}

#footer .info .inner ul>li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    width: 1px;
    height: 10px;
    transform: translate(0, -60%);
    background: #575757;
}

#footer .info .inner .right {
    display: flex;
    margin: 0 0 0 auto;
}

#footer .info .sns {
    border-left: 1px solid #343434;
    border-right: 1px solid #343434;
    padding: 0 15px;
    cursor: pointer;
}

#footer .info .inner .sns i {
    margin: 0 0 0 10px;
}

#footer .info .inner .f_site {
    padding: 0 15px;
    border-right: 1px solid #343434;
    cursor: pointer;
}

#footer .info .f_site i {
    margin: 0 0 0 10px;
}

#footer .address {
    text-align: center;
    font-size: 13px;
    color: #545454;
    padding: 30px 0;

    line-height: 1.3;
}

#footer .address ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 0 5px 0;
}

#footer .address ul li~li::before {
    content: "/";
    display: inline-block;
    margin: 0 10px 0 0;
}



.sub_bar {
    background: #0d5ffb;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    letter-spacing: 0.06em;
}

.sub_bar .inner .menu span {
    display: inline-block;
    margin: 0 15px;
    color: #c0d2fc;
}

.sub_bar .inner .menu>span {
    color: #2defeb;
}

.sub_bar .inner .menu>div {
    display: inline-block;
    margin: 0 5px;
    color: #c0d2fc;
    font-size: 10px;
}

.sub_bar .inner {
    display: flex;
    justify-content: space-between;
}

.sub_bar .inner>i {
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
}

.company_Visual {
    padding: 0 0 100px 0;
}

.company_Visual .inner {
    padding: 100px 0 70px 0;
    text-align: center;
}

.company_Visual .ceo_wrap {
    width: 1200px;
    margin: 0 auto;
    height: 700px;
    background: url(../img/img_ceo.jpg) no-repeat;
}

.company_Visual .ceo_wrap h3 {
    display: block;
    padding: 0 0 0 555px;
}

.company_Visual .ceo_wrap .box {
    padding: 35px 0 0 600px;
}

.company_Visual .ceo_wrap .box strong {
    display: block;
    color: #1e51a2;
    letter-spacing: -0.05em;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.company_Visual .ceo_wrap .box p {
    font-size: 14px;
    line-height: 23px;
    color: #777;
    margin: 0 0 20px 0;
}

.company_Visual .ceo_wrap .box .sub_pm {
    margin: 0 0 25px 0;
}

.esg_Visual .e_inner {
    text-align: center;
    padding: 100px 0 50px 0;
}

.esg_Visual .esg_wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

}

.esg_Visual .esg_wrap .box {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px 0;
}

.esg_Visual .esg_wrap .box:nth-child(odd) {
    text-align: right;
}

.esg_Visual .esg_wrap .box strong {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #111;
    margin: 0 0 20px 0;
}

.esg_Visual .esg_wrap .box p {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #777;
    margin: 0 0 30px 0;
}

.esg_Visual .esg_wrap .box a {
    font-size: 13px;
    padding: 7px 25px;
    border: 1px solid #111;
}


.faq_Visual .inner {
    text-align: center;
    padding: 100px 0 50px 0;
}

.faq_Visual .accodian {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 150px 0;
}

.faq_Visual .accodian ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

.faq_Visual .accodian li button {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    background: transparent;
    color: #000;
    text-align: left;
    border: none;
    border-bottom: 1px solid #7b7b7b;
    cursor: pointer;

    font-size: 21px;
    font-weight: 300;
}

.faq_Visual .accodian li button span i {
    margin: 0 0 0 50px;
}

.faq_Visual .accodian li:first-child {
    border-top: 2px solid #111;
}

.faq_Visual .accodian .content {
    display: none;
    margin: 0;
    padding: 20px 40px;
}

.faq_Visual .accodian .content span {
    display: block;
    margin: 0 0 20px 30px;
    line-height: 30px;
    color: #666;
    letter-spacing: 0.035em;
    font-size: 18px;
    font-weight: 300;
    word-break: keep-all;
}

.faq_Visual .accodian .content .b {
    margin: 0 0 5px 25px;
    font-weight: 500;
}

.faq_Visual .accodian .content .link_b a {
    display: inline-block;
    padding: 10px;
    margin: 0 0 0 10px;
    border: 1px solid #444;
}

.faq_Visual .accodian .content .link_b a i {
    margin: 0 0 0 10px;
    font-size: 15px;
}

.faq_Visual .accodian .content .under_b {
    text-decoration: underline;
}

.faq_Visual .accodian .content .first {
    display: block;
    margin: 0 0 10px 3px;

}

.faq_Visual .accodian li.on button {
    color: #0d5ffb;
}

.faq_Visual .accodian li.on .content {
    display: block;
    background: #f9f9f9;
}

.social_Visual .inner {
    padding: 100px 0;
}

.social_Visual .inner .sns_list {
    position: relative;
    height: 550px;
}

.social_Visual .inner .tit {
    position: absolute;
}

.social_Visual .inner .tit h3 {
    font-size: 60px;
    font-weight: 300;
    margin: 0 0 20px 0;
    color: #111;
}

.social_Visual .inner .tit p {
    line-height: 24px;
    color: #575757;
}

.social_Visual .inner .sns_list .itm01 {
    position: absolute;
    top: 180px;
    width: 320px;
    height: 320px;
    background: url(../img/social33.jpg) no-repeat center center/cover;
    cursor: pointer;
}

.social_Visual .inner .sns_list .itm02 {
    position: absolute;
    top: 0;
    left: 350px;
    width: 500px;
    height: 500px;
    background: url(../img/social11.jpg) no-repeat center center/cover;
    cursor: pointer;
}

.social_Visual .inner .sns_list .itm03 {
    position: absolute;
    top: 0;
    right: 0px;
    width: 320px;
    height: 230px;
    background: url(../img/social22.jpg) no-repeat top/cover;
    cursor: pointer;
}

.social_Visual .inner .sns_list .itm04 {
    position: absolute;
    top: 260px;
    right: 0px;
    width: 320px;
    height: 230px;
    background: url(../img/social44.jpg) no-repeat center center/cover;
    cursor: pointer;
}